@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Lato:wght@100&family=Limelight&family=Oswald:wght@200&display=swap');

.MuiToolbar-root { 
    background-color: blueviolet;
}

.search-cont { 
    margin: 40px 150px 40px 150px;
    padding: 20px 60px 20px 60px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(243, 232, 232, 0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.MuiGrid-root.MuiGrid-item {
    margin-top: 20px;
}

.pagination-details { 
    display: flex;
}

.pagination-pagination { 
    flex: 1;
}

.pagination-page { 
    margin-left: 30px;
}

/* .search-button { 
    display: flex;
} */

.MuiButton-root.searchButton, .MuiButton-root.backButton { 
    background-color: blueviolet;
    color: white;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: 0;
}

.MuiButton-root.searchButton:hover, .MuiButton-root.backButton:hover { 
    background-color: blueviolet;
    box-shadow: 0px 3px 15px blueviolet;
    color: white;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: 0;
}

.resto-info { 
    margin-left: 30px;
    font-family: 'Gudea', sans-serif;
    color: #5089b8;
}

.resto-info b, .sub-info .date b { 
    color: black;
}

.sub-info {
    margin-left: 20px;
}

.sub-info .date { 
    color: #b93633
}